In [1]:
#import packages
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta

In [2]:
#import data and read it as dataframe type
df = pd.read_csv('Selected columns.csv')
df.head()

,preferred_genre,intended_use,weekly_consumption_hour,age,male_TF,attribution_technical,account_creation_date,initial_credit_card_declined,join_fee,current_sub_TF,last_payment,cancel_date,trial_completed
0,comedy,access to exclusive content,0.000000,0.0,False,facebook,2020-01-24 21:44:16,False,0.0000,True,2020-02-07 21:44:16,0,True
1,comedy,access to exclusive content,22.951579,70.0,False,facebook,2020-03-01 15:44:35,False,0.3303,True,2020-03-15 15:44:35,0,True
2,regional,replace OTT,36.001186,25.0,True,organic,2019-12-07 16:37:06,False,0.1101,False,0,0,True
3,drama,replace OTT,20.051667,30.0,False,search,2020-01-27 16:09:32,False,0.0367,False,0,0,True
4,comedy,replace OTT,22.951579,28.0,False,discovery,2019-10-05 12:57:07,False,0.0367,True,2020-02-19 12:57:07,0,True

In [5]:
# change the data type of the account_creation_date 
df['account_creation_date'] = pd.to_datetime(df['account_creation_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227628 entries, 0 to 227627
Data columns (total 13 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   preferred_genre               227628 non-null  object
 1   intended_use                  227628 non-null  object
 2   weekly_consumption_hour       227628 non-null  float64
 3   age                           227628 non-null  float64
 4   male_TF                       227628 non-null  object
 5   attribution_technical         227628 non-null  object
 6   account_creation_date         227628 non-null  datetime64[ns]
 7   initial_credit_card_declined  227628 non-null  bool
 8   join_fee                      227628 non-null  float64
 9   current_sub_TF                227628 non-null  bool
 10  last_payment                  227628 non-null  object
 11  cancel_date                   227628 non-null  object
 12  trial_completed               227628 non-null  bool
dtypes: bool(3), datetime64[ns](1), float64(3), object(6)
memory usage: 18.0+ MB

In [17]:
# add new column to show the month of account creation
df['19/07'] = df.account_creation_date.apply(lambda x: 1 if x>datetime(2019,7,1) and x<datetime(2019,8,1) else 0)
df['19/08'] = df.account_creation_date.apply(lambda x: 1 if x>datetime(2019,8,1) and x<datetime(2019,9,1) else 0)
df['19/09'] = df.account_creation_date.apply(lambda x: 1 if x>datetime(2019,9,1) and x<datetime(2019,10,1) else 0)
df['19/10'] = df.account_creation_date.apply(lambda x: 1 if x>datetime(2019,10,1) and x<datetime(2019,11,1) else 0)
df['19/11'] = df.account_creation_date.apply(lambda x: 1 if x>datetime(2019,11,1) and x<datetime(2019,12,1) else 0)
df['19/12'] = df.account_creation_date.apply(lambda x: 1 if x>datetime(2019,12,1) and x<datetime(2020,1,1) else 0)
df['20/01'] = df.account_creation_date.apply(lambda x: 1 if x>datetime(2020,1,1) and x<datetime(2020,2,1) else 0)
df['20/02'] = df.account_creation_date.apply(lambda x: 1 if x>datetime(2020,2,1) and x<datetime(2020,3,1) else 0)

In [18]:
print(sum(df['19/07']))

25708

In [22]:
paid_channels=['bing','display','facebook','search','youtube']
month=['19/07','19/08','19/09','19/10','19/11','19/12','20/01','20/02']

# loop to print the sum of the acquire customers
for i in month:
    for j in paid_channels:
        print(sum(df[i][df['attribution_technical'] == j]))

120
44
10011
1328
8
71
74
9855
1939
15
84
12
6129
1852
2
86
50
9489
2333
11
103
90
12994
2510
47
28
112
9288
3770
76
172
536
6289
4073
370
303
341
7988
4300
205